<a href="https://colab.research.google.com/github/RubenQuispe/Machine-Learning-con-Python-001/blob/master/Como_cargar_ARCHIVOS_en_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Como Cargar (load) archivos dataset a colab con varios metodos
## M.Sc. Rubén Quispe

In [16]:
# Importar la libreria pandas
import pandas as pd

# METODO 1 cargar una URL

In [17]:
!wget -O FuelConsumption.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/FuelConsumptionCo2.csv

--2020-10-04 22:48:20--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/FuelConsumptionCo2.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 72629 (71K) [text/csv]
Saving to: ‘FuelConsumption.csv’

FuelConsumption.csv 100%[===================>]  70.93K  --.-KB/s    in 0.03s

2020-10-04 22:48:20 (2.76 MB/s) - ‘FuelConsumption.csv’ saved [72629/72629]

# Metodo 2 "Manualmente" 2 formas
1. Puedes arrastrar y soltar tu archivo csv o elegir el archivo o dataset con lo que deseas trabajar
2. Haces un llamado a:
* ''' from google.colab import files
*      upload = files.upload() '''

In [2]:
data= pd.read_csv('train_2.csv')

In [3]:
data.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [10]:
from google.colab import files
upload = files.upload()

Saving student_grades.csv to student_grades.csv

In [11]:
data2 = pd.read_csv('student_grades.csv')

In [12]:
data2.head

<bound method NDFrame.head of       Student  Grade
0  John Smith     80
1  Jane Smith     75
2    John Doe     65
3    Jane Doe     90>

In [13]:
from google.colab import files
upload= files.upload()

Saving FuelConsumption.csv to FuelConsumption.csv

In [14]:
EmisionCO2 = pd.read_csv('FuelConsumption.csv')

In [15]:
EmisionCO2.head()

   MODELYEAR   MAKE  ... FUELCONSUMPTION_COMB_MPG CO2EMISSIONS
0       2014  ACURA  ...                       33          196
1       2014  ACURA  ...                       29          221
2       2014  ACURA  ...                       48          136
3       2014  ACURA  ...                       25          255
4       2014  ACURA  ...                       27          244

[5 rows x 13 columns]